* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body1{
    height:12000px;
}
.container1{     
    background-image: url(../images/114.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
position: relative;
z-index: 1110;
}
.parent {
    position: absolute;
    padding-left: 60px;
    width: 100%;
    height: 60px;
    background-color: rgb(115, 86, 33);
    font-size: x-large;
    line-height: 60px;
    position: fixed;
    z-index:10;
}
.it i{
    position: absolute;
    width:25px ;
    height: 30px;
margin: auto;
line-height: 60px;
}
.search{
    width: 300px;
     background-color: aliceblue;
  height: 30px;
   float: left;
    margin-left: 60px;
      border-radius: 15px;
      position: absolute;
margin-top:15px
}
.r{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15px;
    z-index: 0;
}
.div2{
z-index: 1;
position: absolute;
width: 100%;
border-radius: 15px;
height: 100%;
margin-top:5px ;   
margin-left: 3px;
border: none;
}
.header{
display: inline;
height:  60px ;
position: fixed;
position: absolute;
float: left;
padding-left: 40%;
}
.lo {
    position: relative;
    text-align: center;
}
.list .lo .list-blog {
    position: absolute;
    background:rgb(200, 189, 132);
    color: #000;
    border-radius: 10px;
       transition-delay: 0.2s;
 right: -100px;
    top: 30px;
    width: 240%;
    padding: 0 0px;
    z-index: 10;
    height: 0px;
}
.list .lo .list-blog a {
    width: 100%;
    cursor: pointer;
margin: auto;    display: block;
    transition: .6s;
    color: #000;
    opacity: 0;
    overflow: hidden;
    width: 72%;
}
.list .lo:hover .list-blog {
    height: 235px;
    overflow: visible;
}
.list .lo:hover .list-blog a {
    opacity: 1;
    overflow: visible;
    position: relative;
}
.list .lo:hover .list-blog a::before{
    top: 50px;
} 
.list {
    list-style: none;
}

.list li {
    display: inline;   
    margin: 0px 20px;
}

.list li a {
   position: relative;
    text-decoration: none;
    color: black;
}

.list li a::before {
    content: "";
    width: 0%;
    height: 2px;
    background-color:black;
    position: absolute;
    left: 0;
    top: 25px;
    transition: 0.3s;
}

.list li a:hover::before {
    width: 100%;
    background-color:black;
}
.list li a:hover {
    color:rgb(200, 189, 132);
}
.fur{
    width: 100%;
    height: 100vh; 
    position: relative;
}
.fur-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.fur-contant {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%  , -50%);
    text-align: center;
 } 
 .home-title {
     color: #fff;
     font-size: 65px;
     text-transform: uppercase;
 }
 
 .home-p {
     margin: 20px  0px;
     color: #fff;
     font-size: 60px;
     letter-spacing: 2px;
 }
 
 .home-btn {
     width: 140px;
     padding: 16px  0px;
     border: 0;
     border-radius: 14px;
     cursor: pointer;
     font-size: 17px;
     text-transform: capitalize;
 }
 .home-btn2 {
     background-color: rgb(115, 86, 33);
     color: #fff;
     margin-left: 13px;
 }
 
 .home-btn:hover {
     opacity: 0.6;
 }
 .setting {
position: absolute;
margin-left: 83%;
top: 20px;
 }
 .setting:hover{
    color: rgb(200, 189, 132);
   
 }
 .wel{

 }
 .wel-line{
    background-color:rgb(200, 189, 132) ;
    display: block;
    width: 300px;
    height: 6px;
    margin: auto;
 }
 .wel-container1{
width: 80%;
text-align: center;
font-size: 66px; 
padding-top: 5%;
padding-top: 100px;
padding-left: 7%;
margin: auto;
position: relative;
height: 100vh;

 }
 
 .wel-overlay{
border: #000 solid;
 float: left;
  border-radius: 20px;
    height: 300px;
    width: 30% ;
 padding: 16px 14px ;
 text-align: center;
 position: relative;
}
.wel-overlay.wel-overlay2{
    margin: 0px 10px;
    padding-top: 10px;
}
.icons{
    padding-top: 6px;
    font-size: 45px;
}
.wel-overlay   p {
    font-size: 35px;
    color:rgb(115, 86, 33) ;
    padding-top: 10px;
}
.wel-overlay:hover  p{
   color:rgb(244, 202, 33);
}
.wel-overlay::after{
    content: "";
position: absolute;
top: 0;
left: 0;
height: 0%;
width: 0%;
transition: 1.3s;
background-color:rgb(123, 85, 2);
border-radius: 15px;
opacity: 0;
}
.wel-overlay:hover::after{
    top: 0;
    left: 0;
    width: 100%;
height: 100%;
width: 100%;
opacity: 0.3;
}

.pp{
    font-size: 26;
    color:rgb(115, 86, 33) ;
    text-decoration: none;
}
.p1{
    padding-top: 18px; padding-top: 30px;
}
.aa{
    font-size: 20px;
    text-decoration: none;
   
}
.container2{
    width: 100%;
    height: 100vh;
    background-color: rgb(195, 210, 210);
}
.h-wel{
    text-align: center;
    font-size: 66px;
    padding-top:5%;
}
.line-fea{
    background-color:rgb(200, 189, 132);
    display: block;
    width: 300px;
    height: 6px;
    margin: auto;
}
.container3{
    width: 90%;
  height: 60%;  
padding-left: 7%;
margin: auto;
 }
.height{
    padding-top: 30px;
}
 .fea-overlay{  
position: relative;
    float: left;
    padding-left: 60px;
 }
 .-info-fea-overlay{
   position: absolute;
     padding-top: 40px;
background-color: rgb(123, 85, 2,0.5);
font-size: 60px;
  color: rgb(200, 189, 132) ;
    width: 340px;
    height: 200px;
    top: 0;
    left: 60;
    right: 0;
    bottom: 0;
z-index: 20;
text-align: center;
visibility: hidden;
 }
 .fea-overlay:hover .-info-fea-overlay {
    visibility: visible;
 }
 .fea-overlay-fea-overlay2{
    padding-top: 20px;
    position: relative;
    padding-left:60px ;
float: left;
 }
.fea-overlay-fea-overlay2 .-info-fea-overlay {
position: absolute;
top: 20;
}
.fea-overlay-fea-overlay2:hover .-info-fea-overlay {
    visibility: visible;}
.ic1{
    float: left;
    margin-left: 100px;
    background-color: #fff;
    margin-top: 30px;
    font-size: 50px;
    border-radius: 13px;
}
.ic2{
    font-size: 50px;
    float: left;
    margin-left: 40px;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 13px;
}
.parent-offer{
    height: 100vh;
    position: relative;
}
.h5{
    font-size: 60px;
    text-align: center;
    padding-top: 5%;
}
.line-offer{
    width: 260px;
    height: 3px;
    margin: auto;
    background-color:rgb(115, 86, 33) ;
}
.container4{
    width: 90%;
    height: 100vh;
    margin: auto;
    position: relative;   
}
.part{
    width:24% ;
    height: 29%;
    border: #000 solid 1px;
    border-radius: 14px;
    position: absolute;
    z-index: 3px;
    margin-top: 6%;
    margin-left: 7%;
    float: left;
    position: relative;
}
.part:hover{
    color:rgb(115, 86, 33);
}
.ii1{
    color: rgb(115, 86, 33);
    font-size: 36px;
    padding-left: 3px;
    padding-top: 6px;
}
.p0{ color: #000;}
.p0:hover{color: #000;}
.part-info{ position: absolute;
    top: 6;
    left: 50px;
    font-size: 22px;}
.part::after{
    top: 0;
    left: 0;
    content: "";
position: absolute;
height: 0%;
width: 0%;
transition: 0.8s;
background-color:rgb(200, 189, 132);
border-radius: 15px;
opacity: 0;
}
.part:hover::after{
    top: 0;
    left: 0;
    width: 100%;
height: 100%;
width: 100%;
opacity: 0.3;
}
.container5{
    width: 80%;
    position: relative;
    height: 100vh;
    margin: auto;
    padding-top: 210px;
    }
.hh{
    font-size: 60px;
}
.line-why{
    width: 115px;
    height: 3px;
    margin-top: 8px;
 background-color:rgb(200, 189, 132) ;
}
.ip1{
   position:absolute ;
   margin-top: -10%;
   margin-left: 60%;
}
.dot1{
    background-color: rgb(200, 189, 132);
    width: 16px;
    position:absolute ;
    margin-left: 70%;
    margin-top: 32%;
    height: 16px;
    border-radius: 50%;
}
.dot2{
    background-color: rgb(200, 189, 132,0.5);
    width: 16px;
    position:absolute ;
    margin-left: 72.5%;
    margin-top: 32%;
    height: 16px;
    border-radius: 50%;
}
.dot2:hover{
    background-color:rgb(200, 189, 132) ;
}
.dot3{
    background-color: rgb(200, 189, 132,0.5);
    width: 16px;
    position:absolute ;
    margin-left: 75%;
    margin-top: 32%;
    height: 16px;
    border-radius: 50%;
}
.dot3:hover{
    background-color:rgb(200, 189, 132) ;
}
.info-why{
    position: absolute;
margin-top:5%;
margin-left: 2%;
}
.love{
     width: 100%;
   height: 50vh; 
   position: relative;
}.container6{
    width: 100%;
    height: 50vh;
   background-image: url(../images/022.jpg );
   background-size: cover;
   background-attachment: fixed;
   background-repeat: no-repeat;
   opacity: 0.7;
   position: absolute;
}
.users{
    z-index: 20;
    opacity: 0.9;
    padding-top: 10%;
    padding-left: 15%;
    float: left;
    margin: auto;
    text-align: center;
    font-size: 18px;
    color: #000;  
}
.users  .users2{padding-left: 5%;
    float: left;
    margin: auto;}
.users .users3{padding-left: 5%;
    float: left;
    margin: auto;}
.users   .users4{padding-left: 5%;
    float: left;
    text-align: center;}
.size{ font-size: 34px;}
.div10{  width: 90%;
    height: 100vh;
    margin: auto;
    position: relative;
    margin-top: 10%;
    text-align: center;}
.mn10{font-size: 60px;}
.line-brands{margin: auto;
    height: 3px;
    width: 160px;
    margin-top: 20px;
    background-color: #000;}
.continer8{ border: #000 solid;
    float: left;
    left: 0;
     border-radius: 20px;
       height: 470px;
       width: 30% ;
    text-align: center;
      font-size: 26px;
      margin: 60px 22px ;
      padding-top: 30px;
    position: relative;    }
.continer8:hover      .p22{color: rgb(115, 86, 33);}
.info-10{width: 130px;
    padding-top: 16px;
    border: #000 solid;
    height: 130px;
    margin: auto;  
    border-radius: 50%;}
   .continer8:hover .info-10{ border-color: rgb(115, 86, 33); }
.ps{
padding-top: 30px;
font-size: 24px;
width: 270px;
margin: auto;
height: 160px; }
.wee{ margin-top: 7%;}
.btn10{margin-top: 3%;
width: 210px;
background-color: beige;
border-radius: 15px;
font-size: 30px; }
   .continer8::after{ 
    top: 0; 
    left: 0;
    position: absolute;
    content: "";
    height: 0%;
    width: 100%;
    transition: 0.8s;
    background-color:rgb(123, 85, 2);
    border-radius: 15px;
    opacity: 0;   }
   .continer8:hover::after{ top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;}
 .container10{ width: 100%;
    height: 50vh;
    background-image: url(../images/033.jpg);
    background-color: rgba(0, 0, 0, 0.6);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   background-attachment: fixed;}
 .container10::after{ 
content: "";
position: absolute;
background-color: rgb(123, 85, 2,0.4);  
width: 100%;
height: 50vh;}
 .img1{ width: 100px;
border-radius: 50%;
height: 100px;}
 .container00{width: 100%; 
z-index: 10;
margin-top: 8%;
position: absolute;
height: 20vh;}
.container10-00{float: left;
    margin-left: 13%;}
.container10-01{float: left;
    margin-left: 23%;}
.container10-02{ float: right;
    font-size: 23px;
    color: #fff;
    margin-left: 20px;
    margin-top: 8%;}
.container10-03{float: right;
    color: #fff;
    font-size: 23px;
    margin-left: 20px;
    margin-top: 8%; }
.container10-02    h4{ color: blue;}
.container10-03     h4{color: blue; }
.container10-04{ color: #fff;
 float: left;
 width: 26%;
 margin-top: 1%;
 margin-left: 14%;}
/*------------------------------------------------------------------------------*/
.container11{ width:80%;
    margin: auto;
    text-align: center;
    height: 100vh;}
.line-team{ 
width: 160px;
height: 4px;
background-color: rgb(115, 86, 33);
margin: auto;}
.container11   h3{padding-top: 6%;
font-size:55px;}
.team-p22{ 
 margin-top: 50px;
height: 100vh;  }
.team-items{ 
 float: left;
position: relative;
width: 30%;
margin-top: 5%;
background-color: rgb(183, 179, 175);
text-align: center;
border-radius: 15px;
padding: 19px 15px;  }
.team-img{ 
     width: 80%;
    margin: auto;
    position: relative; }
.team-icons{ position: absolute;
    width: 102.5%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(108, 83, 44, 0.5);
    visibility: hidden; }
.team-items:hover .team-icons{ visibility: visible;  }
.team-items00{ margin: 0px 5%; margin-top: 5%; }
.team-icons a{  display: block;
background-color: rgb(95, 84, 9);
color: #fff;
margin-left: auto;
width: 40px;
height: 40px;  }
.team-icons a i{ line-height: 40px;  }
.team-items:after{
    position: absolute; 
    background-color:rgb(123, 85, 2);
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    transition: .5s;
    opacity: .5;
    border-radius: 10px;  }
.team-items:hover:after{
width: 100%;
height: 100%;
opacity: 0.5;
transition: 0.5s;     }
.team-items   h4{
    font-size: 40px;  }
.team-items:hover    .h44{
    color:rgb(174, 134, 69) ;  }  
.team-items:hover    .p44{  color:white;    }

/*-------------------------------------------------------------------------*/
.container12{
height: 100vh;
width: 90%;
margin: auto;  
position: relative; }
.team-items1{
position: absolute;
height:65%; 
float: left;
border:black solid ;
width: 30%;
margin: auto;
margin-top: 5%;
border-radius: 15px;
position: relative;}

  .items2{ margin-left: 5%; }
  .items3{ margin-left: 5%; }

.team-img1{ position: relative;  margin-top:5%; margin-left: 15%; z-index: 12;}
.hh4{text-align: center; font-size: 55px;}
.resent-news{
background-color: rgb(115, 86, 33);
height: 4px;
width: 150px;
margin: auto;}
.team--info    .a1{ color: blue;  padding-left: 5%; }
.p44{  padding-left: 5%;  }
.team--info{ margin-top: 5%;    text-align: center;}
 .team-items1:hover    span{
    color: blue;
}
.team--info    h4{
padding-top: 3%;
text-align: center;
font-size: 22px;}
.team-items1:hover    h4{
    color: #fff;
    position: relative;
    z-index: 155;
}
.team--info    p{padding-top: 5%;  text-align: center;}  
.team-items1:hover  p{
    color: blue;
}
.a2{ padding-top: 4%;  }
.a2      a{text-decoration: none; color: blue;}
.team-items1::after{
    top: 0; 
    position: absolute;
    left: 0;
    content: "";
    height: 0%;
    width: 100%;
    transition: 0.8s;
    border-radius: 15px;
    background-color:rgb(123, 85, 2);
    opacity: 0;  }
    .team-items1:hover::after{
    top: 0;
    bottom: 0;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    opacity: 0.3;}
    .div50{
        width: 100%;
        height: 55vh; 
        position: relative;
        text-align: center;
        background-color: antiquewhite;
    }
   .conta{
    width: 40%;
    margin: auto;
   }
   .div-icons{
    padding-top: 5%;
   }
   .div-icons    i{
    width: 50px;
    height: 50px;
    padding-top: 1.5%;
    color: #fff;
    background-color: rgb(91, 91, 208);
    border-radius: 50%;
    font-size: 30px;
   }
   .div-img     i:hover{
background-color: blue;
   }
   .div-img     p{
    padding-top: 4%;
   }
   .div-img     img{
    border-radius: 15px;
    margin-top: 4%;
   }